<center>
<input type="text" on-enter="submitSearch()" class="query-box" ng-model="queryText" />
<button ng-click="submitSearch()">Search</button>
</center>

<center ng-if="docs.length == 0">
  <h2>Search for a Movie</h2>
</center>

<div class="row details" ng-if="docs.length > 0">
  <!-- Results column -->
  <div class="col-md-6">
    <ul class="search-results">
      <li ng-repeat="doc in docs">
        <b>{{doc.title[0]}}</b> ({{ doc.release_date | date: 'yyyy' }})<br/>
        <i>{{doc.tagline[0]}}</i>
        <p>{{doc.overview[0]}}</p>
      </li>
    </ul>
  </div>

  <!-- Viz column -->
  <div class="col-md-6">
    <div ng-repeat="val in boosts">
      <input type="range" ng-change="updateBoosts()" ng-model="val.boost" name="{{val.label}}" min="1" max="10" value="1">
      <label for="{{val.label}}">{{val.label}}</label>
    </div>
    <canvas class="chart chart-radar"
      chart-data="radar.data" chart-labels="radar.labels" chart-options="radarOptions">
    </canvas>

    <canvas class="chart chart-bar"
      chart-data="genreBar.data" chart-labels="genreBar.labels">
    </canvas>

    <canvas class="chart chart-line"
      chart-data="movieDates.data" chart-labels="movieDates.labels">
    </canvas>
  </div>
</div>
